<h1>VIRTUAL CHEQUE</h1>
<h2>List of old cheques</h2>

<p>
<!-- <%= button_to("Back", login_index_path, :method => "get") %> -->
</p>
<p>
<%= button_to("Create New Cheque",  new_cheque_path, :method => 'get') %>
</p>
<table>
  <tr>
      <th>Name</th>
      <th>Date</th>
      <th>Value</th>
      <th><%= button_to("Clear Filters", cheques_path,
                      method: :get) %></th>
  </tr>
  <% for @cheque in @cheques %>
    <tr>
      <td><%= link_to @cheque.name, cheques_path(:name => @cheque.name) %></td>
      <td><%= @cheque.date %></td>
      <td><%= @cheque.nominal_value %></td>
      <td><%= button_to("Show", cheque_path(@cheque),
                      method: :get) %></td>
      <td><%= button_to("Delete", cheque_path(@cheque),
                      method: :delete,
                      data: { confirm: 'Are you sure?'} ) %></td>
    </tr>
  <% end %>
</table>


