<h1>New Cheque</h1>

<%= form_for :cheque, url: cheques_path do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
	<p>
    <%= f.label :date %><br>
    <%= f.date_select :date %>
  </p>
  <p>
    <%= f.label :nominal_value %><br>
    <%= f.number_field :nominal_value %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>